.works {
  background-color: #111430;
  padding: 5rem 0;
}

img.sliderImg {
  width: 24rem;
}

/* .swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
} */
/* .swiper-slide {
  z-index: 100 !important;
  Center slide text vertically;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  flex-direction: column;
  align-items: center;
} */
/* .swiper-slide img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  width: 400px;
} */

/* .swiper-button-prev {
  left: 0% !important;
  top: 85% !important;
  --swiper-navigation-size: 10px !important;
  background-color: red;
  padding: 15px 15px;
  width: 10px;
  border-radius: 50%;
} */
/* 
.swiper-button-next {
  left: 8% !important;
  top: 85% !important;
  width: 10px;
  font-size: 15px !important;
  --swiper-navigation-size: 10px !important;
  background-color: red;
  padding: 15px 15px;
  border-radius: 50%;
} */
